.form {
	margin: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__input {
	display: flex;
	width: 100%;
	gap: 2rem;
	margin-bottom: 2rem;
}

.input {
	padding: 1rem;
	width: 100%;
}

.form__submit {
	width: 100%;
	background-color: #333;
	color: white;
	padding: 1.3rem 1rem;
	font-size: 1.6rem;
	cursor: pointer;
}
